# all
/*
__pycache__
.mypy_cache

# root dir
!/.gitignore
!/README.md
!/requirements.txt
!/runtime.txt
!/.env.sample
!/settings.yaml

# data
!/data/
/data/*
!/data/README.md

# guild backup
!/guild_backup/
/guild_backup/*
!/guild_backup/README.md

# secrets
!/secrets/
/secrets/*
!/secrets/README.md

# sqls
!/sqls/

# src
!/src/

# sql shell
!/sqlbin/
/sqlbin/*.dump
