# all
/*
__pycache__
.mypy_cache

# root dir
!/.gitignore
!/README.md
!/requirements.txt
!/runtime.txt
!/Procfile
!/.env.sample
!/settings.yaml

# data
!/data/
/data/*
!/data/README.md

# secrets
!/secrets/
/secrets/*
!/secrets/README.md

# sqls
!/sqls/

# src
!/src/
