# all
/*
__pycache__

# root dir
!/.gitignore
!/README.md
!/requirements.txt
!/runtime.txt
!/Procfile
!/.env.sample
!/config.yaml

# data
!/data/
/data/*
!/data/README.md

# secrets
!/secrets/
/secrets/*
!/secrets/README.md

# src
!/src/
